<div class="header-wrapper">
{{> molecules-site-logo }}
  <div class="header_gov">
    {{> molecules-gov-logo }}
    {{> molecules-common-nav }}
    <div class="header_search-bar">
      {{> molecules-site-search }}
    </div>
    <div class="font-resizer">
      {{> molecules-resizer }}
    </div>
  </div>
</div>
